
body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  
  .container {
    background-color: navy;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    /* max-width: 500px; */
    width: 50%;
  }
  
  h1 {
    text-align: center;
    color: palevioletred;
  }
  
  p {
    text-align: center;
    margin: 10px 0;
    color: palevioletred;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: white;;
  }
  
  input, select, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="radio"], input[type="checkbox"] {
    margin: 5px 10px 5px 0;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  